<!DOCTYPE html>
<html lang="en" ng-app="aptlyapigui" ng-cloak>
  <head>
    <meta charset="utf-8">
    <title>DARIAH-DE :: Aptly API GUI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="DARIAH-DE">
    <!-- CSS Imports -->
    <link rel="stylesheet" href="https://res.de.dariah.eu/aai/css/bootstrap.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="https://res.de.dariah.eu/aai/css/bootstrap-responsive.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="https://res.de.dariah.eu/aai/css/application.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="https://res.de.dariah.eu/aai/css/bootstrap-customization.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="https://res.de.dariah.eu/aai/css/bootstrap-modal.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="https://res.de.dariah.eu/aai/css/font-awesome.css">
    <link rel="stylesheet" href="https://res.de.dariah.eu/aai/css/dariah_portal.css" type="text/css" media="screen, projection" />
    <style>
    [ng\:cloak], [ng-cloak], .ng-cloak {
      display: none;
    }
    form , .form-horizontal .control-group {
      margin: 0;
    }
    #mainselection, #maintable{
      margin-bottom: 30px;
    }
    </style>
    <link rel="shortcut icon" type="image/png" href="https://res.de.dariah.eu/aai/img/page_icon.png" />
  </head>
  <body>
    <div id="content_layout">
      <div class="span8 main-content-wrapper">
        <div id="content" class="primary-area">
          <h1>Aptly Manager</h1>

          <div>
            <div data-ng-controller="ctrl1">

              <form class="form-horizontal">
                <div id="mainselection" class="control-group">
                  <label class="control-label" for="selectRepo">Repository</label>
                  <div class="controls">
                    <select id="selectRepo" ng-model="currentrepo">
                      <option ng-repeat="repo in repos" value="{{ repo.Name }}">{{ repo.Comment }} ({{ repo.Name }})</option>
                    </select> 
                   <button ng-click="loadData();" id="reload"><span class="fa fa-refresh"></span></button>
                  </div>
                </div>
              </form>

              <table id="maintable">

                <tr>
                  <th><a >Package</a></th>
                  <th><a >Version</a></th>
                  <th><a >Copy</a></th>
                  <th><a >Delete</a></th>
                </tr>

                <tr><th colspan="4"><hr></th></tr>

                <tr ng-repeat="package in packages[currentrepo]">
                  <td>{{ package.Package }}</td>
                  <td>{{ package.Version }}</td>
                  
                  <td>
                    <form class="form-inline">
                      <select id="copyToRepo" ng-model="targetrepo">
                        <option ng-repeat="(otherreponame,otherrepopackages) in packages" ng-if="!containsPackageKey(otherrepopackages,package.Key)" value="{{ otherreponame }}">{{ otherreponame }}</option>
                      </select> 
                      <button ng-click="copyPackageToRepo(package,targetrepo)" ng-disabled="targetrepo == undefined"><span class="fa fa-share"></span></button>
                    </form>
                  </td>
                  <td><button ng-click="deletePackage(currentrepo,package);"><span class="fa fa-trash"></span></button></td>
                </tr>

                <tr><th colspan="4"><hr></th></tr>

              </table>

              <form class="form-horizontal">
                <div class="control-group">
                  <label class="control-label" for="refreshRepo">Re-Publish</label>
                  <div class="controls">
                    <button ng-click="publishUpdate();" id="refreshRepo"><span class="fa fa-external-link-square"></span></button>
                  </div>
                </div>
              </form>
              <form action="api/graph.png" class="form-horizontal">
                <div class="control-group">
                  <label class="control-label" for="refreshRepo">Graph</label>
                  <div class="controls">
                    <button type="submit"><span class="fa fa-tree"></span></button>
                  </div>
                </div>
              </form>

            </div>
            <div class="row central_logo_de"></div>
          </div>
        </div>
      </div>
      <div class="row dfooter footer">
        <div class="span7">
          <hr/>
          <p>Digital Research Infrastructure for the Arts and Humanities.</p>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="https://res.de.dariah.eu/aai/js/jquery-1.8.2.js"></script>
    <script type="text/javascript" src="https://res.de.dariah.eu/aai/js/bootstrap.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js"></script>
    <script type="text/javascript">
var aptlyApiGui = angular.module("aptlyapigui", ['angular.filter']);

aptlyApiGui.controller('ctrl1', function($scope,$http) {

  // update the published repos
  $scope.publishUpdate = function () {

    // get all published repos
    $http.get('api/publish').
      success(function(publishedrepos, status, headers, config) {
        publishedrepos.forEach(function(pubrepo) {
          // the root prefix is a special case
          if (pubrepo.Prefix == '.') {
            repoprefix = ':.'
          } else {
            repoprefix = pubrepo.Prefix
          }

          console.log('api/publish/'+encodeURIComponent(repoprefix)+'/'+encodeURIComponent(pubrepo.Distribution))

          // re-publish the repo
          $http.put('api/publish/'+encodeURIComponent(repoprefix)+'/'+encodeURIComponent(pubrepo.Distribution), {headers:{'Content-Type':'application/json'}, data:{}}).
            success(function(data, status, headers, config) {
          }).
          error(function(repodata, status, headers, config) {
            alert('Failed to update published repos!');
          });

        });

      }).
      error(function(publishedrepos, status, headers, config) {
        alert('Failed to load published repos!');
      });    

  };

  // check whether package is in a repo
  $scope.containsPackageKey = function(repohash,packagekey) {
    var foundkey = false;
    repohash.forEach(function(onepackage){
      if (onepackage['Key'] == packagekey) {
        foundkey = true;
      };
    });
    return foundkey;
  }

  // API call to copy packe to another repo
  $scope.copyPackageToRepo = function (package,targetrepo) {
    // security confirmation
    if (confirm("Really copy "+package.Package+" "+package.Version+" to "+targetrepo+"?")) {
      $http.post('api/repos/'+encodeURIComponent(targetrepo)+'/packages', {"PackageRefs": [package.Key]}).
        success(function(data, status, headers, config) {
          $scope.loadData();
        }).
        error(function(repodata, status, headers, config) {
          alert("Failed to copy "+package.Package+" "+package.Version+" to "+targetrepo+"!");
        });

    }
  };

  // load data from api
  $scope.loadData = function () {
    // get repos
    $http.get('api/repos').
      success(function(data, status, headers, config) {
        $scope.repos = data;
        packages = {}

        // for each repo, get the repo details
        $scope.repos.forEach(function(repo) {

            $http.get('api/repos/'+encodeURIComponent(repo.Name)+'/packages?format=details').
              success(function(repodata, status, headers, config) {
                packages[repo.Name]=repodata;
              }).
              error(function(repodata, status, headers, config) {
                alert("Error loading data!!");
              });

        });
        $scope.packages = packages;

      }).
      error(function(data, status, headers, config) {
        alert("Error loading data!!");
      });
  };

  // initial load
  $scope.loadData();

  // delete a package from a repo
  $scope.deletePackage = function (repo,package) {
    // security confirmation
    if (confirm("Really delete "+package.Package+" v. "+package.Version+"?")) {
      // API call
      $http.delete('api/repos/'+repo+'/packages', {headers:{'Content-Type':'application/json'}, data:{"PackageRefs": [package.Key]}}).
        success(function(data, status, headers, config) {
          $scope.loadData();
        }).
        error(function(repodata, status, headers, config) {
          alert("Error deleting package!");
        });
    }
  };

});
    </script>
  </body>
</html>


